* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* ==========Task_1====================================== */
#categories{
  display: flex;
  gap: 24px;
  flex-direction: column;
  width: 440px;
  padding: 24px;
}

.item {
  width: 100%;
  border-radius: 8px;
  background-color: #F6F6FE;
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.item h2{
  color: #2E2F42;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  /* 133.333% */
  letter-spacing: 0.04em;
}

.item ul{
  width: 100%;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.item ul li{
  width: 100%;
  color: #2E2F42;
  font-size: 16px;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

/* ==========================Task_2=============================== */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.gallery li {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(33.33% - 16px);
  margin-bottom: 48px;
  width: 360px;
  height: 300px;
}

.gallery img {
  width: 100%;
  height: 100%;
}

/* ======================Task-3===================*/

#name-input {
  display: flex;
    padding: 24px;
    flex-direction: column;
    width: 408px;
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
}

#name-input::placeholder {
      width: 100%;
      color: #2E2F42;
      font-size: 16px;
      line-height: 1.5;
      /* 150% */
      letter-spacing: 0.04em;
}

h1 {
  color: #2E2F42;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33;
    /* 133.333% */
    letter-spacing: 0.04em;
}

/* ============================Task_4============================= */

.login-form {
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background-color: #FFF;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 408px;
}

/* Стилізація для label */
.login-form label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Стилізація для input */
.login-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

/* Стилізація для button */
.login-form button {
  padding: 10px 15px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  background-color: #4E75FF;
  font-weight: 500;
  line-height: 1.5;
    /* 150% */
  letter-spacing: 0.04em;
}

/* Стилізація для button при наведенні */
.login-form button:hover {
  border-radius: 8px;
  background-color: #6C8CFF;
}
/* ================Task_5================================ */

.widget .change-color {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  /* 150% */
  letter-spacing: 0.04em;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  cursor: pointer;
}

.widget .change-color:hover {
  border-radius: 8px;
  background-color: #6C8CFF;
}

.widget p {
  color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
}

/* ==========================Task_6============================== */

#controls {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 8px;
  background-color: #F6F6FE;
}

#controls input {
  display: flex;
  padding: 8px 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #808080;
}

#controls button[data-create] {
  display: flex;
  width: 120px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #4E75FF;

  color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
}

#controls button[data-create]:hover {
  background-color: #6C8CFF;
}

#controls button[data-destroy] {
  display: flex;
  width: 120px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: #FF4E4E;

  color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.04em;
}

#controls button[data-destroy]:hover {
  background-color: #FF7070;;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  padding: 32px;
  gap: 16px;
  border-radius: 8px;
  background-color: #F6F6FE;
}